.interest_content{
    position: absolute;
    width: 80%;
    height: 500px;
    margin-left: 10%;
    margin-top: 100px;
}
.interest1{
    display: inline-block;
    vertical-align: top;
    width: 275px;
    height: 500px;
    margin-left: 3%;
}
.sport_text{
    color: #fff;
    padding: 8px;
    margin-left: 10%;
}
.music_text{
    color: #fff;
    padding: 8px;
    margin-left: 10%;
}
.interest2{
    display: inline-block;
    vertical-align: top;
    width: 275px;
    height: 405px;
    margin-left: 3%;
    margin-top: 95px;
}
.others_text{
    color: #fff;
    padding: 8px;
    margin-left: 10%;
}



@media screen and (max-width:768px){
    .interest_content{
        position: absolute;
        width: 100%;
        height: auto;
        margin-top: 100px;
        margin-left: 0;
    }
    .interest1{
        display: block;
        vertical-align: top;
        width: 275px;
        height: auto;
        margin-left: 3%;
    }
    .interest2{
        display: block;
        vertical-align: top;
        width: 275px;
        height: 220px;
        margin-left: 3%;
        margin-top: 0px;
    }
}